<div class="row marketing" ng-controller="MainCtrl">

    <form name="mainForm" class="col-md-12">

        <select class="select-box form-control" data-style="btn-primary" ng-model="counter" ng-change="renderRadialProgress()" ng-options="counter for counter in counters" />

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Add Counter Info</h3>
            </div>
            <div class="modal-body">
                <label>Counter Name</label>
                <input name="counterName" type="text" class="form-control" ng-model="counterName" id="counterName"
                        placeholder="Enter the Counter Name" required="">
                <label>Goal</label>
                <input name="counterGoal" type="text" class="form-control" ng-model="counterGoal" id="counterGoal"
                       placeholder="Enter the Counter Goal" required="">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <br>

        <button type="button" class="btn btn-primary" ng-click="open()" center>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="remove()" center>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>


        <label ng-model="result">{{result}}</label>

        <br><br>

        <div class="form-group">
            <input name="counterValue" type="text" class="form-control" ng-model="counterValue" id="counterValueInput"
                   placeholder="Enter # OR default = 1" ng-minlength="1" required>
        </div>

        <button type="button" class="btn btn-primary btn-huge" ng-click="incrementCounter()" center>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

        <div id='outer' style="height:800px; margin: 0px auto; margin-top:20px; padding:10px">
            <div id="main" style="height:200px; margin: 0px auto; ">
                <div id="div1"></div>
            </div>
        </div>
    </form>
</div>
